.chart-overall-container {

}

.bar-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 7.5vh;
    background-color: black;
    color: white;
    margin-bottom: 2.5vh;
}